{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h3  align="right">{% trans 'My Home Page' %}</h3>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'add_payments' user.username %}">
            <button class="btn btn-info" align="left">
                {% blocktrans %}Add payment{% endblocktrans %}
            </button> </a>
        </div>
    </div>
</div>
<div class="panel panel-warning" dir="rtl">
    <div class="panel-heading">
        <h3 class="panel-title">תשלומים מאחרים</h3>
    </div>
    <div class="panel-body">
            {% render_table table %}
    </div>
</div>

<div class="panel panel-info" dir="rtl">
    <div class="panel-heading" dir="rtl">
        <h3 class="panel-title">תשלומים קרובים</h3>
    </div>
    <div class="panel-body">
        {% render_table table_neardue_payments %}
    </div>
</div>

{% endblock %}
