{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="panel-heading">
                <h3 class="caption">נאבקים לשיפור מוסר התשלומים!</h3>
            </div>
            <p>
                מוסר התשלומים במדינת ישראל, עבור לקוחות ישראלים הוא אחת מהבעיות המוכרות והמעיקות על המשק הישראלי;
                בעיה זו גוררת פגיעה בתחרותיות הלאומית, בסביבה העסקית, באיתנות הפיננסית של עסקים, באיכות הניהול במשק ואף בשלטון החוק ובמוסר העסקי.
                בעוד ניתן להבין, גם אם לא להצדיק, מקרים בהם מוסדות פרטיים, נקלעים לקשיי נזילות ולכן אינם עומדים במוסר התשלומים המקובל, הרי שאין בשום פנים ואופן להשלים עם מקרים כאלה כאשר הגורם המעכב הוא המדינה.
                הפגיעה בעקבות עיכוב תשלומים ע"י מוסדות הממשלה חמורה מפגיעות בעיכוב תשלומים ע"י גורמים פרטיים, מאחר והיא מולידה שרשרת של עיכובי תשלום והלנות שכר, אשר פוגעות פגיעה ממשית בכלכלה.
                כמו בכל נושא אחר, על הממשלה להראות דוגמא אישית, בעמידתה בתנאים הכלכליים אשר מצופה מאזרחיה לעמוד בהם.
            </p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="caption">התאגידים המצטיינים </h3>
                </div>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="panel-heading">
                <h3 class="caption">שימוש באתר</h3>
            </div>
            <div>
                <p>
                    באתר זה תוכל/י לעקוב אחרי דירוג מוסר התשלומים של תאגידים במשק כפי שעולה מנתונים שהוזנו ע"י הספקים של התאגידים. כמו כן, במידה ואת/ה ספק/ית של תאגידים תוכל/י להזין את התשלומים שלך. המערכת של האתר אוספת אך ורק את ממוצע ימי האיחור לכל תשלום שהוזן, ומפרסמת לכלל הציבור רק סך כל הממוצעים של כל התשלומים שהוזנו ע"י כל הספקים. כך שפרטיותך נשמרת. בחשבון שלך תוכל/י לעקוב אחר דירוג מוסר התשלומים של כל לקוחותיך. כך תוכל ללמוד מי הם הלקוחות הבעייתים ולהעריך את הסיכון לעסק שלך. כמו כן המערכת מאפשרת לך לשלוח תזכורות ולקבל התראות על תשלומים שטרם שולמו ומועד התשלום קרב או חלף.
                </p>
            </div>

        </div>
       <div class="col-xs-12 col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="caption">התאגידים המתקשים </h3>
                </div>
                   <ol>
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                   </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <form method="get">
                <h3 class="caption">משתמש חדש?</h2>
                <a class="btn btn-lg btn-primary" href="{% url 'register' %}">
                    צור חשבון
                </a>
            </form>
        </div>


    </div>

</div>
{% endblock %}