{% extends "base.html" %}
    
     <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="container">
      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="User Name"  required autofocus>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        
    {% url 'payments.views.home' user.username as home_page %}
        <input type="hidden" name="next" value="{{ home_page }}"/>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                   <input id="id_username" maxlength="254" name="username" type="text" />
            <input id="id_password" name="password" type="password" />

    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form> -->
{% endblock %}